
<p><label for="user_login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="user_email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="user_password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="user_password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<%= submit_tag 'Sign up' %>


